@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400');

body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
	height: 100%;

}

blockquote {
	font-size: 60px;
	line-height: 80px;
}

